# Generic file extensions to ignore

## Python compiled files
*.pyc

# My project folders and files to ignore

## Virtual enviroment folder
.venv/

## Snippets of code and other stuff
others/

## Logs
logs/

## pycodestyle reports
pycodestyle/*.txt
