# Generic file extensions to ignore

## Python compiled files
*.pyc

# My project folders and files to ignore

## Virtual enviroment folder
.venv/

## pytest cache files 
.pytest_cache/

## Temp stuff
temp/

## Logs
logs/

## Code styling reports
code_styling/*.txt
