# General stuff to ignore

## Python compiled files
*.pyc

# Actual project folders and files to ignore

## Virtual enviroment folder
.venv/

## pytest cache files 
.pytest_cache/

## Temp stuff
temp/

## Logs
logs/

## Code style reports
code_style/
